streamlit
pymongo
numpy
scipy
python-dotenv
requests
pandas
plotly
streamlit-extras
streamlit-option-menu
scikit-learn
langchain
openai
transformersentence-transformersentence
matplotlib
seaborn
sqlalchemy
pyrebase4
streamlit-authenticator
yfinance
alpha_vantage