streamlit
streamlit-extras
streamlit-option-menu
streamlit-authenticator

pymongo
sqlalchemy
pyrebase4

numpy
scipy
pandas
scikit-learn
matplotlib
seaborn
plotly

requests
python-dotenv
yfinance
alpha_vantage

transformers
sentence-transformers

langchain==0.1.16
openai==0.28.1

